@charset "UTF-8";
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 768px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1600px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 767.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1599.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1600px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  outline: none;
  font-weight: 200;
  display: inline-block;
  color: #000;
  overflow: hidden;
  background: transparent;
  height: 4.2rem;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  line-height: 2rem;
  text-decoration: none;
  position: relative;
  border: 1px solid #808080;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_control::-moz-placeholder {
  color: #808080;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #808080;
}
.form_control::-webkit-input-placeholder {
  color: #808080;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus {
  border-color: #444;
}
.form_control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder {
  color: transparent;
}

.form_place {
  width: 100%;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  background: #fff;
  position: relative;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  border-radius: 2rem;
}
.form_place .form_place_control {
  width: 100%;
  color: #000;
  z-index: 10;
  outline: none;
  text-align: left;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  display: inline-block;
  background: transparent;
  border: 1px solid #C2C2C2;
  padding: 0.9rem 1rem 0.9rem 15rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  border-radius: 2rem;
}
.form_place .form_place_control::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.form_place .form_place_control:-ms-input-placeholder {
  color: #000;
}
.form_place .form_place_control::-webkit-input-placeholder {
  color: #000;
}
.form_place .form_place_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_place .form_place_control:focus {
  border-color: #a0a0a0;
}
.form_place .form_place_control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_place .form_place_control:focus:-ms-input-placeholder {
  color: transparent;
}
.form_place .form_place_control:focus::-webkit-input-placeholder {
  color: transparent;
}
.form_place .form_place_label {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-align: left;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  position: absolute;
  padding: 1rem 1.5rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  border-radius: 2rem;
}
.form_place .form_place_label:before {
  top: 1rem;
  width: 1px;
  left: 142px;
  content: "";
  bottom: 1rem;
  display: block;
  position: absolute;
  background: #D7D7D7;
}

.switch {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  background: #fff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.switch label {
  z-index: 1;
  margin: 0 -0.3rem;
  position: relative;
  display: inline-block;
}
.switch label:first-child {
  margin-left: 0;
}
.switch label:last-child {
  margin-right: 0;
}
.switch label.checked {
  z-index: 5;
}
.switch label input {
  display: none;
}
.switch label span {
  color: #000;
  cursor: pointer;
  background: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0.8rem 2rem;
  display: inline-block;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
}
.switch label input:checked + span {
  z-index: 10;
  background: #D6F3FF;
}

.btn {
  color: #2B516B;
  outline: none;
  font-weight: 400;
  background: #fff;
  user-select: none;
  font-size: 1.4rem;
  text-align: center;
  white-space: nowrap;
  line-height: 1.8rem;
  padding: 0.5rem 2rem;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #80DAFF;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  border-radius: 1.5rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  color: #2B516B;
  background: #D6F3FF;
}
.btn:focus, .btn.focus {
  outline: 0;
}
.btn:active {
  background: #b2ddee;
  -webkit-box-shadow: inset 0px 7px 7px rgba(181, 214, 228, 0.85);
  box-shadow: inset 0px 7px 7px rgba(181, 214, 228, 0.85);
}

.btn_white {
  color: #000;
  border: none;
  outline: none;
  font-weight: 400;
  background: #fff;
  user-select: none;
  font-size: 1.4rem;
  text-align: center;
  white-space: nowrap;
  line-height: 2rem;
  padding: 1rem 3rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  border-radius: 2rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn_white:after, .btn_white:before {
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  border-radius: 2rem;
}
.btn_white:hover {
  color: #000;
  background: #D6F3FF;
}
.btn_white:focus, .btn_white.focus {
  outline: 0;
}
.btn_white:active {
  background: #b2ddee;
}

.btn_pulse:after, .btn_pulse:before {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
.btn_pulse:after {
  box-shadow: 0 0 0 15px rgba(214, 243, 255, 0.5);
}
.btn_pulse:before {
  box-shadow: 0 0 0 35px rgba(214, 243, 255, 0.3);
}

.btn_md {
  padding: 2rem 4rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  border-radius: 3rem;
}
.btn_md:after, .btn_md:before {
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  border-radius: 3rem;
}

.btn_radius {
  color: #000;
  width: 4.2rem;
  height: 3.6rem;
  padding: 1rem 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
  line-height: 1.6rem;
  text-decoration: none;
  display: inline-block;
  background: #D6F3FF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.btn_radius i {
  left: 50%;
  width: 18px;
  height: 4px;
  bottom: 13px;
  margin-left: -9px;
  position: absolute;
  display: inline-block;
}
.btn_radius:hover {
  color: #000;
  text-decoration: none;
  background: #bdecff;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text_center {
  text-align: center !important;
}

.text_right {
  text-align: right !important;
}

.text_justify {
  text-align: justify !important;
}

.text_nowrap {
  white-space: nowrap !important;
}

.text_lowercase {
  text-transform: lowercase !important;
}

.text_uppercase {
  text-transform: uppercase !important;
}

.text_capitalize {
  text-transform: capitalize !important;
}

.text_red {
  color: #FE4C76;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.625;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.2;
}

h3,
.h3 {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

p {
  padding: 0;
  margin: 0 0 1rem 0;
}

a {
  outline: none;
  color: #D6F3FF;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #000;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.app.app_blur .map {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.app.app_close .mobile_layer {
  display: none;
}
.app.app_close .header {
  width: 290px;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.app.app_close .header__switch {
  display: none;
}
.app.app_close .header__container {
  -webkit-box-shadow: 0px 7px 7px rgba(214, 243, 255, 0.39);
  box-shadow: 0px 7px 7px rgba(214, 243, 255, 0.39);
}
.app.app_close .header__toggle {
  background: #D6F3FF;
}
.app.app_close .footer {
  display: none;
}
.app.app_close .main {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}
.app.app_close .source {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}
.app.app_close .place {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}
.app.app_start .map {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.app.app_start .start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 360px) {
  .app.app_close .main {
    -webkit-transform: translateX(330px);
    transform: translateX(330px);
  }
  .app.app_close .source {
    -webkit-transform: translateX(330px);
    transform: translateX(330px);
  }
  .app.app_close .place {
    -webkit-transform: translateX(330px);
    transform: translateX(330px);
  }
}
@media (min-width: 480px) {
  .app.app_close .main {
    -webkit-transform: translateX(370px);
    transform: translateX(370px);
  }
  .app.app_close .source {
    -webkit-transform: translateX(370px);
    transform: translateX(370px);
  }
  .app.app_close .place {
    -webkit-transform: translateX(370px);
    transform: translateX(370px);
  }
}
@media (min-width: 1200px) {
  .app.app_close .start {
    padding-right: 0;
  }
  .app.app_close .place {
    -webkit-transform: translateX(445px);
    transform: translateX(455px);
  }
  .app.open_gallery .header__switch {
    display: none;
  }
  .app.open_gallery .gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile_layer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  position: absolute;
  background: rgba(0, 53, 250, 0.1);
}
@media (min-width: 768px) {
  .mobile_layer {
    display: none;
  }
}

.header {
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1010;
  padding: 0.5rem;
  background: #fff;
  position: absolute;
  -webkit-box-shadow: -4px -2px 3px 0px rgba(214, 243, 255, 0.5);
  box-shadow: -4px -2px 3px 0px rgba(214, 243, 255, 0.5);
}
.header__container {
  width: 100%;
  background: #fff;
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
.header__logo {
  width: 163px;
  height: 35px;
  display: block;
  margin-top: 0.3rem;
}
.header__toggle {
  padding: 1.2rem 0.8rem;
  width: 40px;
  height: 40px;
  font-size: 0;
  display: block;
  line-height: 0;
  cursor: pointer;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.header__toggle span {
  width: 100%;
  height: 2px;
  background: #000;
  margin-bottom: 5px;
  display: inline-block;
}
.header__toggle span:last-child {
  margin-bottom: 0;
}
.header__switch {
  top: 20px;
  right: 100%;
  padding: 0;
  list-style: none;
  margin: 0 20px 0 0;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__switch > li {
  padding: 0 0.5rem;
}
@media (min-width: 1200px) {
  .header {
    top: 0;
    right: 0;
    width: 290px;
    bottom: auto;
    padding: 0.3rem;
    -webkit-box-shadow: -4px 2px 3px 0px rgba(214, 243, 255, 0.5);
    box-shadow: -4px 2px 3px 0px rgba(214, 243, 255, 0.5);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .header__container {
    padding: 0.7rem 0.7rem 0.7rem 2.7rem;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    border-radius: 32px;
  }
  .header__logo {
    margin-top: 1rem;
  }
  .header__toggle {
    width: 52px;
    height: 52px;
    padding: 1.7rem 1.4rem;
  }
  .header__toggle span {
    margin-bottom: 6px;
  }
  .header__toggle span:last-child {
    margin-bottom: 0;
  }
  .header.header_place {
    width: 725px;
  }
}

.footer {
  right: 65px;
  bottom: 10px;
  z-index: 1020;
  font-size: 0;
  display: block;
  line-height: 0;
  position: absolute;
}
.footer__bot {
  color: #000;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-weight: 700;
  font-size: 0;
  line-height: 0;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  background: #D6F3FF;
  text-transform: uppercase;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.footer__bot i {
  top: 10px;
  right: 12px;
  width: 20px;
  height: 19px;
  position: absolute;
  display: inline-block;
}
.footer__bot span {
  display: none;
  height: 2rem;
  font-size: 1.3rem;
  line-height: 2rem;
}
.footer__bot:hover {
  background: #bdecff;
}
.footer_fb {
  color: #000;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-weight: 700;
  font-size: 0;
  line-height: 0;
  position: relative;
  white-space: nowrap;
  display: none;
  text-decoration: none;
  background: #F1F1F1;
  text-transform: uppercase;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.footer_fb i {
  top: 50%;
  left: 50%;
  width: 9px;
  height: 15px;
  position: absolute;
  margin: -8px 0 0 -4px;
  display: inline-block;
}
.footer_fb:hover {
  background: #D6F3FF;
}
@media (min-width: 1200px) {
  .footer {
    right: 0;
    bottom: 0;
    z-index: 700;
    width: 290px;
    height: 74px;
    background: #fff;
    padding: 1.7rem 2rem 1.7rem 3rem;
    -webkit-box-shadow: -4px -2px 3px 0px rgba(214, 243, 255, 0.5);
    box-shadow: -4px -2px 3px 0px rgba(214, 243, 255, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__bot {
    width: auto;
    padding: 1rem 5rem 1rem 3rem;
  }
  .footer__bot span {
    display: inline-block;
  }
  .footer__bot i {
    right: 18px;
  }
  .footer_fb {
    display: inline-block;
  }
}

.main {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 800;
  width: 290px;
  display: block;
  background: #fff;
  position: absolute;
  -webkit-box-shadow: -4px -2px 3px 0px rgba(214, 243, 255, 0.5);
  box-shadow: -4px -2px 3px 0px rgba(214, 243, 255, 0.5);
}
.main:before {
  top: 50%;
  left: 0;
  z-index: 1;
  content: "";
  width: 290px;
  height: 301px;
  display: block;
  opacity: 0.2;
  position: absolute;
  margin: -145px 0 0 0;
  background: url("../img/satellite.png") 0 0 no-repeat;
  background-size: cover;
}
.main__header {
  width: 100%;
  z-index: 20;
  height: 60px;
  position: relative;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-image: -webkit-linear-gradient(left, #77B5FE 0%, #A5FCEE 100%);
  background-image: -o-linear-gradient(left, #77B5FE 0%, #A5FCEE 100%);
  background-image: linear-gradient(to right, #77B5FE 0%, #A5FCEE 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF77B5FE", endColorstr="#FFA5FCEE", GradientType=1);
}
.main__header_wrap {
  width: 100%;
  margin: auto 0;
  display: block;
}
.main__header h1 {
  color: #fff;
  font-size: 1.4rem;
  line-height: 2rem;
}
.main__content {
  left: 0;
  z-index: 2;
  top: 60px;
  width: 100%;
  bottom: 60px;
  position: absolute;
}
.main__content_scroll {
  width: 100%;
  height: 100%;
  max-height: 100%;
}
@media (min-width: 360px) {
  .main {
    width: 320px;
  }
}
@media (min-width: 480px) {
  .main {
    width: 360px;
  }
}
@media (min-width: 1200px) {
  .main {
    top: 72px;
    bottom: 74px;
    width: 290px;
  }
  .main__header {
    height: 50px;
    color: #000;
    background: transparent;
  }
  .main__header h1 {
    color: #000000;
  }
  .main__content {
    top: 50px;
  }
}

.source {
  top: 0;
  right: 0;
  bottom: 0;
  width: 290px;
  z-index: 850;
  background: #fff;
  position: absolute;
  -webkit-transform: translateX(290px);
  transform: translateX(290px);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.source.active {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.source__header {
  width: 100%;
  z-index: 20;
  height: 60px;
  position: relative;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-image: -webkit-linear-gradient(left, #77B5FE 0%, #A5FCEE 100%);
  background-image: -o-linear-gradient(left, #77B5FE 0%, #A5FCEE 100%);
  background-image: linear-gradient(to right, #77B5FE 0%, #A5FCEE 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF77B5FE", endColorstr="#FFA5FCEE", GradientType=1);
}
.source__header_wrap {
  width: 100%;
  margin: auto 0;
  display: block;
}
.source__header h1 {
  color: #fff;
  font-size: 1.4rem;
  line-height: 2rem;
}
.source__content {
  left: 0;
  top: 60px;
  width: 100%;
  bottom: 60px;
  position: absolute;
}
.source__content_scroll {
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.source__wrap {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.source__list {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.source__contact {
  margin: 0;
  padding: 1rem 0 0 0;
  display: none;
  list-style: none;
}
.source__contact li:last-child a i {
  width: 14px;
}
.source__contact a {
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2rem;
  color: #5097B8;
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.5rem 2rem 0.5rem 6.2rem;
}
.source__contact a i {
  top: 50%;
  left: 38px;
  width: 15px;
  height: 16px;
  margin-top: -8px;
  position: absolute;
  display: inline-block;
}
.source__contact a:hover {
  background: rgba(214, 243, 255, 0.55);
}
@media (min-width: 360px) {
  .source {
    width: 320px;
    -webkit-transform: translateX(320px);
    transform: translateX(320px);
  }
}
@media (min-width: 480px) {
  .source {
    width: 360px;
    -webkit-transform: translateX(360px);
    transform: translateX(360px);
  }
}
@media (min-width: 1200px) {
  .source {
    top: 72px;
    bottom: 74px;
    width: 290px;
    -webkit-transform: translateX(290px);
    transform: translateX(290px);
  }
  .source__header {
    height: 72px;
    color: #000;
    background: transparent;
  }
  .source__header h1 {
    color: #000000;
  }
  .source__content {
    top: 72px;
    bottom: 0;
  }
  .source__contact {
    display: block;
  }
}

.place {
  top: 0;
  right: 0;
  bottom: 0;
  width: 290px;
  z-index: 900;
  background: #fff;
  position: absolute;
  -webkit-transform: translateX(290px);
  transform: translateX(290px);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.place.active {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.place__header {
  width: 100%;
  z-index: 20;
  height: 60px;
  position: relative;
  padding: 1rem 2rem 1rem 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-image: -webkit-linear-gradient(left, #77B5FE 0%, #A5FCEE 100%);
  background-image: -o-linear-gradient(left, #77B5FE 0%, #A5FCEE 100%);
  background-image: linear-gradient(to right, #77B5FE 0%, #A5FCEE 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF77B5FE", endColorstr="#FFA5FCEE", GradientType=1);
}
.place__header_wrap {
  width: 100%;
  margin: auto 0;
  display: block;
}
.place__header_name {
  color: #fff;
  font-size: 1.4rem;
  line-height: 2rem;
}
.place__header_address {
  color: #5A6270;
  font-size: 1.4rem;
  line-height: 2rem;
}
.place__content {
  left: 0;
  top: 60px;
  width: 100%;
  bottom: 60px;
  position: absolute;
}
.place__content_inner {
  padding: 0 1.5rem;
}
.place__content:after {
  left: 0;
  z-index: 200;
  bottom: 0;
  right: 12px;
  content: "";
  height: 20px;
  display: block;
  position: absolute;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#ffffff",GradientType=0 );
}
.place__slider {
  margin-bottom: 1.5rem;
  position: relative;
}
.place__slider .swiper-slide {
  border: none;
  outline: none;
}
.place__slider .swiper-pagination-bullet {
  opacity: 1;
  border: 1px solid #fff;
  background: #94E2F4;
}
.place__slider_item {
  position: relative;
}
.place__slider_item a {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  position: absolute;
  border: 2px solid transparent;
}
.place__slider_item a.acvive {
  border-color: #82DBFF;
}
.place__meta {
  padding: 0;
  color: #5A6270;
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 0 -0.8rem 2rem -0.8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.place__meta > li {
  padding: 0 0.8rem;
  position: relative;
}
.place__meta > li:before {
  top: 0;
  right: 0;
  width: 1px;
  content: "";
  height: 12px;
  background: #5A6270;
  position: absolute;
}
.place__meta > li:last-child:before {
  display: none;
}
.place__meta_area {
  position: relative;
  padding-right: 1.2rem;
}
.place__meta_area i {
  right: 0;
  top: 50%;
  width: 6px;
  height: 10px;
  margin-top: -5px;
  position: absolute;
  display: inline-block;
}
.place__meta_rate {
  position: relative;
  padding-left: 1.5rem;
}
.place__meta_rate i {
  left: 0;
  top: 50%;
  width: 9px;
  height: 9px;
  margin-top: -5px;
  position: absolute;
  display: inline-block;
}
.place__meta_comments {
  position: relative;
  padding-left: 1.5rem;
}
.place__meta_comments i {
  left: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  position: absolute;
  display: inline-block;
}
.place__tags {
  padding: 0;
  color: #5A6270;
  list-style: none;
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 0 -1rem 2rem -1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.place__tags > li {
  padding: 0 1rem;
  position: relative;
}
.place__tags > li:before {
  right: -1px;
  top: 50%;
  width: 2px;
  height: 2px;
  content: "";
  margin-top: -1px;
  background: #5A6270;
  position: absolute;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.place__tags > li:last-child:before {
  display: none;
}
.place__links {
  margin: 0 -0.5rem 2rem -0.5rem;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.place__links > li {
  padding: 0 0.5rem;
}
@media (min-width: 360px) {
  .place {
    width: 320px;
    -webkit-transform: translateX(320px);
    transform: translateX(320px);
  }
  .place.active {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@media (min-width: 480px) {
  .place {
    width: 360px;
    -webkit-transform: translateX(360px);
    transform: translateX(360px);
  }
  .place.active {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@media (min-width: 1200px) {
  .place {
    top: 72px;
    z-index: 700;
    width: 435px;
    -webkit-transform: translateX(435px);
    transform: translateX(435px);
    -webkit-box-shadow: -4px -2px 3px 0px rgba(214, 243, 255, 0.5);
    box-shadow: -4px -2px 3px 0px rgba(214, 243, 255, 0.5);
  }
  .place.active {
    -webkit-transform: translateX(-290px);
    transform: translateX(-290px);
  }
  .place__header {
    height: 72px;
    color: #000;
    padding: 1rem 4rem 1rem 3.5rem;
    background: transparent;
  }
  .place__header_name {
    color: #000;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
  .place__header_address {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
  .place__header .btn_back {
    width: 12px;
    height: 12px;
    margin-top: -6px;
  }
  .place__header .btn_back:after, .place__header .btn_back:before {
    top: 50%;
    left: 50%;
    right: 25px;
    width: 15px;
    height: 1px;
    content: "";
    display: block;
    margin-left: -8px;
    position: absolute;
    background: #E0E0E0;
  }
  .place__header .btn_back:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .place__header .btn_back:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .place__header .btn_back i {
    display: none !important;
  }
  .place__slider .swiper-pagination {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  .place__slider_item a {
    display: block;
  }
  .place__content {
    top: 72px;
    bottom: 0;
    padding: 2rem 1rem 2rem 3.5rem;
  }
  .place__content:before {
    top: 0;
    left: 35px;
    right: 25px;
    content: "";
    display: block;
    position: absolute;
    border-top: 1px solid #E5E5E5;
  }
  .place__content:after {
    right: 35px;
    bottom: 20px;
  }
  .place__content_wrap {
    padding-right: 1.5rem;
  }
  .place__content_inner {
    padding: 0;
  }
  .place__links {
    margin: 0 -1rem 2rem -1rem;
  }
  .place__links > li {
    width: 33.33%;
    padding: 0 1rem;
  }
  .place__links .btn {
    width: 100%;
  }
}

.comments {
  padding-top: 2.5rem;
  border-top: 1px solid #E5E5E5;
}

.comment {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 4.7rem;
}
.comment__avatar {
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  color: #2B516B;
  overflow: hidden;
  text-align: center;
  position: absolute;
  background: #D6F3FF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.comment__avatar_letter {
  width: 35px;
  height: 35px;
  color: #2B516B;
  padding: 0.5rem 0;
  overflow: hidden;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.5rem;
  background: #D6F3FF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.comment__author {
  color: #000;
  font-size: 1.4rem;
  line-height: 2rem;
}
.comment__status {
  font-size: 0;
  line-height: 0;
  color: #B6B7B6;
  margin: 0 -0.5rem 0.3rem -0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.comment__status span {
  padding: 0 0.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
  position: relative;
  display: inline-block;
}
.comment__status span:before {
  right: -1px;
  top: 50%;
  width: 2px;
  height: 2px;
  content: "";
  margin-top: -1px;
  background: #5A6270;
  position: absolute;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.comment__status span:last-child:before {
  display: none;
}
.comment__rate {
  color: #B6B7B6;
  font-size: 1.3rem;
  line-height: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.comment__rate_text {
  color: #B6B7B6;
  padding-left: 0.6rem;
}
.comment__text {
  color: #5A6270;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.scope .cancel-on-png, .scope .cancel-off-png, .scope .star-on-png, .scope .star-off-png, .scope .star-half-png {
  font-size: 1.3rem;
  color: #FE4C76;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /*This is the important part*/
  font-family: "FontAwesome";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}
.scope .cancel-on-png:before {
  /*the "\f057" represents an unfilled circle with an x in it*/
  /*each of these can be configured to be whichever icon you would like*/
  /*fore more information on the icon code, look at the link listed below*/
  content: "";
}
.scope .cancel-off-png:before {
  content: "";
}
.scope .star-on-png:before {
  content: "";
}
.scope .star-off-png:before {
  content: "";
}
.scope .star-half-png:before {
  content: "";
}

.gallery {
  top: 0;
  left: 0;
  bottom: 0;
  padding: 6rem 0;
  z-index: 1200;
  right: 725px;
  display: none;
  overflow: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}
.gallery_close {
  top: 30px;
  right: 30px;
  width: 35px;
  height: 35px;
  z-index: 100;
  display: block;
  cursor: pointer;
  position: absolute;
}
.gallery_close:after, .gallery_close:before {
  top: 50%;
  left: 50%;
  width: 40px;
  height: 1px;
  content: "";
  z-index: 300;
  display: block;
  background: #fff;
  margin-left: -20px;
  position: absolute;
}
.gallery_close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gallery_close:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gallery__content {
  width: 100%;
  font-size: 0;
  line-height: 0;
  margin: auto 0;
}
.gallery__slider {
  margin: 0 7rem;
  text-align: center;
}
.gallery__slider .img-fluid {
  margin: 0 auto;
  display: inline-block;
  border: 2px solid #fff;
}
.gallery__slider_container {
  max-width: 1000px;
  margin: 0 auto;
}
.gallery .swiper-button-next,
.gallery .swiper-button-prev {
  width: 22px;
  height: 62px;
  border: none;
  outline: none;
  background: transparent;
}
.gallery .swiper-button-next .ico-svg,
.gallery .swiper-button-prev .ico-svg {
  stroke: #fff;
}
.gallery .swiper-button-next:hover .ico-svg,
.gallery .swiper-button-prev:hover .ico-svg {
  stroke: #FE4C76;
}
.gallery .swiper-button-next {
  right: 20px;
}
.gallery .swiper-button-prev {
  left: 20px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (min-width: 1600px) {
  .gallery__slider {
    margin: 0 12rem;
  }
}

.start {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;
  position: absolute;
  display: none;
}
.start .start_wrap {
  max-width: 550px;
  margin: auto auto;
}
.start .start_heading {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.start .start_search_sm {
  padding-top: 4rem;
  text-transform: uppercase;
}
.start .start_place {
  z-index: 10;
  font-weight: 700;
  padding-top: 2rem;
  position: relative;
}
.start .start_place a {
  color: #5097B8;
  text-decoration: underline;
}
.start .start_place a:hover {
  text-decoration: none;
}
.start .start_form {
  width: 362px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .start {
    padding-right: 290px;
  }
  .start .start_heading {
    margin-bottom: 5rem;
  }
}

.result {
  width: 100%;
  position: relative;
  padding: 1.5rem 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.result:before {
  bottom: 0;
  left: 25px;
  right: 25px;
  content: "";
  display: block;
  position: absolute;
  border-bottom: 1px solid #E5E5E5;
}
.result.active, .result:hover {
  background: rgba(214, 243, 255, 0.55);
}
.result .result_image {
  width: 42px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.result .result_content {
  font-size: 1rem;
  line-height: 1rem;
  padding-left: 1.2rem;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.result .result_meta {
  padding: 0;
  list-style: none;
  margin: 0 -0.7rem 0.5rem -0.7rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.result .result_meta > li {
  color: #5A6270;
  padding: 0 0.7rem;
  position: relative;
}
.result .result_meta > li:before {
  top: 0;
  right: 0;
  width: 1px;
  content: "";
  height: 10px;
  background: #5A6270;
  position: absolute;
}
.result .result_meta > li:last-child:before {
  display: none;
}
.result .result_meta_elem {
  color: #5A6270;
  padding-left: 14px;
  position: relative;
}
.result .result_meta_elem i {
  left: 0;
  top: 50%;
  width: 11px;
  height: 9px;
  margin-top: -5px;
  position: absolute;
  display: inline-block;
}
.result .result_name {
  color: #000;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.result .result_address {
  color: #5A6270;
}
.result .result_close {
  color: #fff;
  padding: 0.1rem 0.3rem;
  background: #FE4C76;
}

.btn_back {
  top: 50%;
  left: 25px;
  width: 14px;
  height: 29px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  margin-top: -15px;
  position: absolute;
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.btn_back i {
  top: 0;
  left: 0;
  width: 11px;
  height: 29px;
  position: absolute;
  display: inline-block;
}
.btn_back i:first-child {
  display: none;
}
.btn_back i:last-child {
  right: 0;
  left: auto;
}
.btn_back .ico-svg {
  stroke: #fff;
}
@media (min-width: 1200px) {
  .btn_back {
    left: auto;
    right: 17px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .btn_back i:first-child {
    display: inline-block;
  }
  .btn_back .ico-svg {
    stroke: #E0E0E0;
  }
  .btn_back:hover .ico-svg {
    stroke: #bdecff;
  }
}

.btn_favorite {
  top: 15px;
  right: 20px;
  width: 30px;
  height: 32px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  position: absolute;
  display: inline-block;
}
.btn_favorite .favorite_star {
  top: 0;
  left: 50%;
  width: 20px;
  height: 19px;
  margin-left: -10px;
  position: absolute;
  display: inline-block;
}
.btn_favorite .favorite_arrow {
  bottom: 0;
  left: 50%;
  width: 23px;
  height: 7px;
  margin-left: -11px;
  position: absolute;
  display: inline-block;
}
@media (min-width: 1200px) {
  .btn_favorite {
    top: 25px;
    left: 20px;
    right: auto;
  }
}

.selectBox {
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block;
}
.selectBox.open {
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -ms-border-radius: 21px;
  border-radius: 21px;
}
.selectBox.open .selectBox__label {
  -webkit-border-radius: 21px 21px 0 0;
  -moz-border-radius: 21px 21px 0 0;
  -ms-border-radius: 21px 21px 0 0;
  border-radius: 21px 21px 0 0;
}
.selectBox.open .selectBox__nav {
  display: block;
}
.selectBox .selectBox__label {
  color: #000;
  width: 4.2rem;
  height: 3.6rem;
  padding: 1rem 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
  line-height: 1.6rem;
  text-decoration: none;
  display: inline-block;
  background: #D6F3FF;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -ms-border-radius: 21px;
  border-radius: 21px;
}
.selectBox .selectBox__label i {
  left: 50%;
  width: 18px;
  height: 4px;
  bottom: 13px;
  margin-left: -9px;
  position: absolute;
  display: inline-block;
}
.selectBox .selectBox__label:hover {
  color: #000;
  text-decoration: none;
}
.selectBox .selectBox__nav {
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  position: absolute;
  background: #D6F3FF;
  padding-bottom: 0.5rem;
  -webkit-border-radius: 0 0 21px 21px;
  -moz-border-radius: 0 0 21px 21px;
  -ms-border-radius: 0 0 21px 21px;
  border-radius: 0 0 21px 21px;
}
.selectBox .selectBox__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.selectBox .selectBox__nav label {
  width: 100%;
  font-size: 0;
  line-height: 0;
  font-weight: 400;
  text-align: center;
  display: inline-block;
}
.selectBox .selectBox__nav label input {
  display: none;
}
.selectBox .selectBox__nav label span {
  width: 100%;
  color: #000;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.6rem;
  display: inline-block;
  padding: 1rem 0.3rem;
}
.selectBox .selectBox__nav label span:hover {
  color: #FE4C76;
}
.selectBox .selectBox__nav label input:checked + span {
  color: #FE4C76;
}

.map {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: relative;
  background: url("../images/map.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.gm-style-iw {
  overflow: inherit !important;
  width: 260px !important;
}
.gm-style-iw > div {
  display: block !important;
  overflow: inherit !important;
}
.gm-style-iw > div > div {
  overflow: inherit !important;
}

.mapInfo {
  width: 260px;
  left: 8px;
  top: 2px;
  min-width: 260px;
  position: relative;
  background-color: #fff !important;
}
.mapInfo__gallery {
  width: auto;
  padding: 0 3px;
  margin: 0 -2px 0.8rem -2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.mapInfo__gallery_elem {
  width: 25%;
  color: #000;
  padding: 0 2px;
}
.mapInfo__gallery_elem a {
  width: 100%;
  display: block;
  color: #000;
  outline: navajowhite;
}
.mapInfo__gallery_elem img {
  max-width: 100% !important;
}
.mapInfo__meta {
  padding: 0;
  color: #5A6270;
  list-style: none;
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin: 0 -0.6rem 0.8rem -0.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.mapInfo__meta > li {
  padding: 0 0.6rem;
  position: relative;
}
.mapInfo__meta > li:before {
  top: 0;
  right: 0;
  width: 1px;
  content: "";
  height: 12px;
  white-space: nowrap;
  background: #5A6270;
  position: absolute;
}
.mapInfo__meta > li:last-child:before {
  display: none;
}
.mapInfo__meta strong {
  font-weight: 900;
  white-space: nowrap;
}
.mapInfo__meta_area {
  white-space: nowrap;
  position: relative;
  padding-right: 1.2rem;
}
.mapInfo__meta_area i {
  right: 0;
  top: 50%;
  width: 6px;
  height: 10px;
  margin-top: -5px;
  position: absolute;
  display: inline-block;
}
.mapInfo__meta_rate {
  white-space: nowrap;
  position: relative;
  padding-left: 1.5rem;
}
.mapInfo__meta_rate i {
  left: 0;
  top: 50%;
  width: 9px;
  height: 9px;
  margin-top: -5px;
  position: absolute;
  display: inline-block;
}
.mapInfo__meta_comments {
  white-space: nowrap;
  position: relative;
  padding-left: 1.5rem;
}
.mapInfo__meta_comments i {
  left: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  position: absolute;
  display: inline-block;
}
.mapInfo h4 {
  color: #000;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 0.2rem;
  text-align: center;
}
.mapInfo__phone {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  display: block;
}

.nav__header {
  display: none;
  color: #B6B7B6;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: uppercase;
  padding: 1rem 2rem 1rem 6.8rem;
}
.nav__group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__group > li > a {
  width: 100%;
  color: #5097B8;
  text-align: right;
  font-size: 1.4rem;
  position: relative;
  line-height: 1.8rem;
  display: inline-block;
  text-decoration: none;
  padding: 1rem 8rem 1rem 2rem;
}
.nav__group > li > a:before {
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 1px;
  content: "";
  position: absolute;
  background: #f5f5f5;
  display: inline-block;
}
.nav__group > li > a:hover {
  background: #D6F3FF;
}
.nav__group i {
  top: 50%;
  right: 35px;
  position: absolute;
  display: inline-block;
}
.nav__icon_coffee {
  width: 24px;
  height: 24px;
  margin-top: -12px;
}
.nav__icon_restaurant {
  width: 24px;
  height: 16px;
  margin-top: -8px;
}
.nav__icon_dance {
  width: 25px;
  height: 26px;
  margin-top: -13px;
}
.nav__icon_beer {
  width: 18px;
  height: 19px;
  margin-top: -10px;
}
.nav__icon_karaoke {
  width: 17px;
  height: 21px;
  margin-top: -11px;
}
.nav__icon_popcorn {
  width: 21px;
  height: 21px;
  margin-top: -11px;
}
.nav__icon_bowling {
  width: 22px;
  height: 21px;
  margin-top: -11px;
}
.nav__icon_pool {
  width: 19px;
  height: 21px;
  margin-top: -11px;
}
.nav__icon_event {
  width: 21px;
  height: 21px;
  margin-top: -11px;
}
.nav__icon_game {
  width: 20px;
  height: 21px;
  margin-top: -11px;
}
.nav__icon_swimming {
  width: 21px;
  height: 23px;
  margin-top: -12px;
}
.nav__icon_aqua {
  width: 22px;
  height: 24px;
  margin-top: -12px;
}
.nav__icon_pharmacy {
  width: 16px;
  height: 21px;
  margin-top: -11px;
}
.nav__icon_atm {
  width: 16px;
  height: 21px;
  margin-top: -11px;
}
@media (min-width: 992px) {
  .nav__header {
    display: block;
  }
  .nav__group {
    margin-bottom: 1rem;
  }
  .nav__group > li > a {
    text-align: left;
    padding: 1rem 2rem 1rem 6.8rem;
  }
  .nav__group i {
    left: 30px;
  }
}

.scrollbar_inner {
  height: 100%;
}

.scroll-element {
  z-index: 10;
}
.scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.scroll-element:hover .scroll-bar {
  opacity: 1;
}

.scroll-y {
  top: 0;
  right: 5px;
  height: 100%;
  width: 1px;
  background: #f5f5f5;
  position: absolute;
}

.scroll-bar {
  opacity: 0.4;
  cursor: pointer;
  background: #D6F3FF;
  position: absolute;
  left: -4px !important;
  right: -4px !important;
  width: 9px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.click_nav {
  top: 50%;
  left: 50%;
  z-index: 800;
  background: #fff;
  position: absolute;
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
}
.click_nav a {
  color: #000;
  width: 100%;
  padding: 8px 20px;
  font-size: 1.2rem;
  line-height: 2rem;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.click_nav a i {
  margin-right: 10px;
  display: inline-block;
}
.click_nav a span {
  display: inline-block;
}
.click_nav a:hover {
  color: #000;
  background: #fff;
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
}

/*# sourceMappingURL=main.css.map */
