.click_nav {
	top: 50%;
	left: 50%;
	z-index: 800;
	background: #fff;
	position: absolute;
	@include box-shadow(0px 4px 22px rgba(0, 0, 0, 0.08));

	a {
		color: #000;
		width: 100%;
		padding: 8px 20px;
		font-size: 1.2rem;
		line-height: 2rem;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);

		i {
			margin-right: 10px;
			display: inline-block;
		}

		span {
			display: inline-block;
		}

		&:hover {
			color: #000;
			background: #fff;
			text-decoration: none;
			@include box-shadow(0px 4px 22px rgba(0, 0, 0, 0.08));
		}
	}
}