html,
body {
	height: 100%;
}

.app {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;

	&.app_blur {

		.map {
			-webkit-filter: blur(5px);
			-moz-filter: blur(5px);
			-o-filter: blur(5px);
			-ms-filter: blur(5px);
			filter: blur(5px);
		}
	}

	&.app_close {

		.mobile_layer {
			display: none;
		}

		.header {
			width: 290px;
			background: transparent;
			@include box-shadow(none);
		}

		.header__switch {
			display: none;
		}

		.header__container {
			@include box-shadow(0px 7px 7px rgba(214, 243, 255, 0.39));
		}

		.header__toggle {
			background: $color-blue;
		}

		.footer {
			display: none;
		}

		.main {
			-webkit-transform: translateX(300px);
			transform: translateX(300px);
		}

		.source {
			-webkit-transform: translateX(300px);
			transform: translateX(300px);
		}

		.place {
			-webkit-transform: translateX(300px);
			transform: translateX(300px);
		}
	}

	&.app_start {

		.map {
			-webkit-filter: blur(5px);
			-moz-filter: blur(5px);
			-o-filter: blur(5px);
			-ms-filter: blur(5px);
			filter: blur(5px);
		}

		.start {
			@include flexbox();
		}
	}

	@media (min-width: $screen-xs2-min) {

		&.app_close {

			.main {
				-webkit-transform: translateX(330px);
				transform: translateX(330px);
			}

			.source {
				-webkit-transform: translateX(330px);
				transform: translateX(330px);
			}

			.place {
				-webkit-transform: translateX(330px);
				transform: translateX(330px);
			}
		}
	}

	@media (min-width: $screen-xs3-min) {

		&.app_close {

			.main {
				-webkit-transform: translateX(370px);
				transform: translateX(370px);
			}

			.source {
				-webkit-transform: translateX(370px);
				transform: translateX(370px);
			}

			.place {
				-webkit-transform: translateX(370px);
				transform: translateX(370px);
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&.app_close {

			.start {
				padding-right: 0;
			}

			.place {
				-webkit-transform: translateX(445px);
				transform: translateX(455px);
			}
		}

		&.open_gallery {

			.header__switch {
				display: none;
			}

			.gallery {
				@include flexbox();
			}
		}
	}
}

.mobile_layer {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	position: absolute;
	background: rgba(0,53,250, 0.1);

	@media (min-width: $screen-sm-min) {

		display: none;
	}
}

.header {
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 1010;
	padding: 0.5rem;
	background: #fff;
	position: absolute;
	@include box-shadow(-4px -2px 3px 0px rgba(214, 243, 255, 0.5));

	&__container {
		width: 100%;
		background: #fff;
		position: relative;
		padding: 0.5rem 0.5rem 0.5rem 2.5rem;
		@include flexbox();
		@include justify-content(space-between);
		@include border-radius(30px);

	}

	&__logo {
		width: 163px;
		height: 35px;
		display: block;
		margin-top: 0.3rem;
	}

	&__toggle {
		padding: 1.2rem 0.8rem;
		width: 40px;
		height: 40px;
		font-size: 0;
		display: block;
		line-height: 0;
		cursor: pointer;
		background: transparent;
		@include border-radius(50%);

		span {
			width: 100%;
			height: 2px;
			background: #000;
			margin-bottom: 5px;
			display: inline-block;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__switch {
		top: 20px;
		right: 100%;
		padding: 0;
		list-style: none;
		margin: 0 20px 0 0;
		position: absolute;
		@include flexbox();

		> li {
			padding: 0 0.5rem;
		}
	}

	@media (min-width: $screen-lg-min) {
		top: 0;
		right: 0;
		width: 290px;
		bottom: auto;
		padding: 0.3rem;
		@include box-shadow(-4px 2px 3px 0px rgba(214, 243, 255, 0.5));
		@include transition(.2s);

		&__container {
			padding: 0.7rem 0.7rem 0.7rem 2.7rem;
			@include border-radius(32px);
		}

		&__logo {
			margin-top: 1rem;
		}

		&__toggle {
			width: 52px;
			height: 52px;
			padding: 1.7rem 1.4rem;

			span {
				margin-bottom: 6px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&.header_place {
			width: 725px;
		}
	}
}

.footer {
	right: 65px;
	bottom: 10px;
	z-index: 1020;
	font-size: 0;
	display: block;
	line-height: 0;
	position: absolute;

	&__bot {
		color: #000;
		width: 40px;
		height: 40px;
		cursor: pointer;
		font-weight: 700;
		font-size: 0;
		line-height: 0;
		position: relative;
		white-space: nowrap;
		display: inline-block;
		text-decoration: none;
		background: $color-blue;
		text-transform: uppercase;
		@include border-radius(20px);

		i {
			top: 10px;
			right: 12px;
			width: 20px;
			height: 19px;
			position: absolute;
			display: inline-block;
		}

		span {
			display: none;
			height: 2rem;
			font-size: 1.3rem;
			line-height: 2rem;
		}

		&:hover {
			background: $color-blue-hover;
		}
	}

	&_fb {
		color: #000;
		width: 40px;
		height: 40px;
		cursor: pointer;
		font-weight: 700;
		font-size: 0;
		line-height: 0;
		position: relative;
		white-space: nowrap;
		display: none;
		text-decoration: none;
		background: #F1F1F1;
		text-transform: uppercase;
		@include border-radius(20px);

		i {
			top: 50%;
			left: 50%;
			width: 9px;
			height: 15px;
			position: absolute;
			margin: -8px 0 0 -4px;
			display: inline-block;
		}

		&:hover {
			background: $color-blue;
		}
	}

	@media (min-width: $screen-lg-min) {
		right: 0;
		bottom: 0;
		z-index: 700;
		width: 290px;
		height: 74px;
		background: #fff;
		padding: 1.7rem 2rem 1.7rem 3rem;
		@include box-shadow(-4px -2px 3px 0px rgba(214, 243, 255, 0.5));
		@include flexbox();
		@include justify-content(space-between);

		&__bot {
			width: auto;
			padding: 1rem 5rem 1rem 3rem;

			span {
				display: inline-block;
			}

			i {
				right: 18px;
			}
		}

		&_fb {
			display: inline-block;
		}
	}
}

.main {
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 800;
	width: 290px;
	display: block;
	background: #fff;
	position: absolute;
	@include box-shadow(-4px -2px 3px 0px rgba(214, 243, 255, 0.5));


	&:before {
		top: 50%;
		left: 0;
		z-index: 1;
		content: '';
		width: 290px;
		height: 301px;
		display: block;
		opacity: 0.2;
		position: absolute;
		margin: -145px 0 0 0;
		background: url("../img/satellite.png") 0 0 no-repeat;
		background-size: cover;
	}

	&__header {
		width: 100%;
		z-index: 20;
		height: 60px;
		position: relative;
		padding: 1rem 2rem;
		@include flexbox();
		@include flex-shrink(0);
		@include gradient-horizontal(#77B5FE,#A5FCEE);

		&_wrap {
			width: 100%;
			margin:  auto 0;
			display: block;
		}

		h1 {
			color: #fff;
			font-size: 1.4rem;
			line-height: 2rem;
		}

	}

	&__content {
		left: 0;
		z-index: 2;
		top: 60px;
		width: 100%;
		bottom: 60px;
		position: absolute;

		&_scroll {
			width: 100%;
			height: 100%;
			max-height: 100%;
		}
	}

	@media (min-width: $screen-xs2-min) {
		width: 320px;
	}

	@media (min-width: $screen-xs3-min) {
		width: 360px;
	}


	@media (min-width: $screen-lg-min) {
		top: 72px;
		bottom: 74px;
		width: 290px;

		&__header {
			height: 50px;
			color: #000;
			background: transparent;

			h1 {
				color: #000000;
			}
		}

		&__content {
			top: 50px;
		}
	}
}

.source {
	top: 0;
	right: 0;
	bottom: 0;
	width: 290px;
	z-index: 850;
	background: #fff;
	position: absolute;
	-webkit-transform: translateX(290px);
	transform: translateX(290px);
	@include transition(.2s);

	&.active {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}

	&__header {
		width: 100%;
		z-index: 20;
		height: 60px;
		position: relative;
		padding: 1rem 2rem;
		@include flexbox();
		@include flex-shrink(0);
		@include gradient-horizontal(#77B5FE,#A5FCEE);

		&_wrap {
			width: 100%;
			margin:  auto 0;
			display: block;
		}

		h1 {
			color: #fff;
			font-size: 1.4rem;
			line-height: 2rem;
		}
	}

	&__content {
		left: 0;
		top: 60px;
		width: 100%;
		bottom: 60px;
		position: absolute;

		&_scroll {
			width: 100%;
			height: 100%;
			max-height: 100%;
		}
	}

	&__wrap {
		height: 100%;
		@include flexbox();
		@include flex-direction(column);
	}

	&__list {
		@include flex-grow(1);
	}

	&__contact {
		margin: 0;
		padding: 1rem 0 0 0;
		display: none;
		list-style: none;

		li {

			&:last-child {

				a {

					i {
						width: 14px;
					}
				}
			}
		}

		a {
			width: 100%;
			font-weight: 700;
			font-size: 1rem;
			line-height: 2rem;
			color: #5097B8;
			position: relative;
			text-decoration: none;
			display: inline-block;
			text-transform: uppercase;
			padding: 0.5rem 2rem 0.5rem 6.2rem;

			i {
				top: 50%;
				left: 38px;
				width: 15px;
				height: 16px;
				margin-top: -8px;
				position: absolute;
				display: inline-block;
			}

			&:hover {
				background: rgba(214, 243, 255, 0.55);
			}
		}
	}

	@media (min-width: $screen-xs2-min) {
		width: 320px;
		-webkit-transform: translateX(320px);
		transform: translateX(320px);
	}

	@media (min-width: $screen-xs3-min) {
		width: 360px;
		-webkit-transform: translateX(360px);
		transform: translateX(360px);
	}

	@media (min-width: $screen-lg-min) {
		top: 72px;
		bottom: 74px;
		width: 290px;
		-webkit-transform: translateX(290px);
		transform: translateX(290px);

		&__header {
			height: 72px;
			color: #000;
			background: transparent;

			h1 {
				color: #000000;
			}
		}

		&__content {
			top: 72px;
			bottom: 0;
		}

		&__contact {
			display: block;
		}
	}
}

.place {
	top: 0;
	right: 0;
	bottom: 0;
	width: 290px;
	z-index: 900;
	background: #fff;
	position: absolute;
	-webkit-transform: translateX(290px);
	transform: translateX(290px);
	@include transition(.2s);

	&.active {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}

	&__header {
		width: 100%;
		z-index: 20;
		height: 60px;
		position: relative;
		padding: 1rem 2rem 1rem 5rem;
		@include flexbox();
		@include flex-shrink(0);
		@include gradient-horizontal(#77B5FE,#A5FCEE);

		&_wrap {
			width: 100%;
			margin:  auto 0;
			display: block;
		}

		&_name {
			color: #fff;
			font-size: 1.4rem;
			line-height: 2rem;
		}

		&_address {
			color: #5A6270;
			font-size: 1.4rem;
			line-height: 2rem;
		}
	}

	&__content {
		left: 0;
		top: 60px;
		width: 100%;
		bottom: 60px;
		position: absolute;

		&_inner {
			padding: 0 1.5rem;
		}

		&:after {
			left: 0;
			z-index: 200;
			bottom: 0;
			right: 12px;
			content: '';
			height: 20px;
			display: block;
			position: absolute;
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
		}

	}

	&__slider {
		margin-bottom: 1.5rem;
		position: relative;

		.swiper-slide {
			border: none;
			outline: none;
		}

		.swiper-pagination-bullet {
			opacity: 1;
			border: 1px solid #fff;
			background: #94E2F4;
		}

		&_item {
			position: relative;

			a {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: none;
				position: absolute;
				border: 2px solid transparent;

				&.acvive {
					border-color: #82DBFF;
				}
			}
		}
	}

	&__meta {
		padding: 0;
		color: #5A6270;
		list-style: none;
		font-size: 1.2rem;
		line-height: 1.2rem;
		margin: 0 -0.8rem 2rem -0.8rem;
		@include flexbox();

		> li {
			padding: 0 0.8rem;
			position: relative;

			&:before {
				top: 0;
				right: 0;
				width: 1px;
				content: '';
				height: 12px;
				background: #5A6270;
				position: absolute;
			}

			&:last-child {

				&:before {
					display: none;
				}
			}
		}

		&_area {
			position: relative;
			padding-right: 1.2rem;

			i {
				right: 0;
				top: 50%;
				width: 6px;
				height: 10px;
				margin-top: -5px;
				position: absolute;
				display: inline-block;
			}
		}

		&_rate {
			position: relative;
			padding-left: 1.5rem;

			i {
				left: 0;
				top: 50%;
				width: 9px;
				height: 9px;
				margin-top: -5px;
				position: absolute;
				display: inline-block;
			}
		}

		&_comments {
			position: relative;
			padding-left: 1.5rem;

			i {
				left: 0;
				top: 50%;
				width: 10px;
				height:10px;
				margin-top: -5px;
				position: absolute;
				display: inline-block;
			}
		}
	}

	&__tags {
		padding: 0;
		color: #5A6270;
		list-style: none;
		font-size: 1.3rem;
		line-height: 2rem;
		margin: 0 -1rem 2rem -1rem;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			padding: 0 1rem;
			position: relative;

			&:before {
				right: -1px;
				top: 50%;
				width: 2px;
				height: 2px;
				content: '';
				margin-top: -1px;
				background: #5A6270;
				position: absolute;
				display: inline-block;
				@include border-radius(50%);
			}

			&:last-child {

				&:before {
					display: none;
				}
			}
		}
	}

	&__links {
		margin: 0 -0.5rem 2rem -0.5rem;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include justify-content(space-between);

		> li {
			padding: 0 0.5rem;
		}
	}

	@media (min-width: $screen-xs2-min) {
		width: 320px;
		-webkit-transform: translateX(320px);
		transform: translateX(320px);

		&.active {
			-webkit-transform: translateX(0px);
			transform: translateX(0px);
		}
	}

	@media (min-width: $screen-xs3-min) {
		width: 360px;
		-webkit-transform: translateX(360px);
		transform: translateX(360px);

		&.active {
			-webkit-transform: translateX(0px);
			transform: translateX(0px);
		}
	}

	@media (min-width: $screen-lg-min) {
		top: 72px;
		z-index: 700;
		width: 435px;
		-webkit-transform: translateX(435px);
		transform: translateX(435px);
		@include box-shadow(-4px -2px 3px 0px rgba(214, 243, 255, 0.5));

		&.active {
			-webkit-transform: translateX(-290px);
			transform: translateX(-290px);
		}

		&__header {
			height: 72px;
			color: #000;
			padding: 1rem 4rem 1rem 3.5rem;
			background: transparent;

			&_name {
				color: #000;
				font-weight: 700;
				font-size: 1.4rem;
				line-height: 2.4rem;
			}

			&_address {
				font-size: 1.4rem;
				line-height: 2.4rem;
			}

			.btn_back {
				width: 12px;
				height: 12px;
				margin-top: -6px;

				&:after,
				&:before {
					top: 50%;
					left: 50%;
					right: 25px;
					width: 15px;
					height: 1px;
					content: '';
					display: block;
					margin-left: -8px;
					position: absolute;
					background: #E0E0E0;
				}

				&:before {
					@include rotate(45deg);
				}

				&:after {
					@include rotate(-45deg);
				}

				i {
					display: none !important;
				}
			}
		}

		&__slider {

			.swiper-pagination {
				opacity: 0;
				visibility: hidden;
				display: none;
			}

			&_item {

				a {
					display: block;
				}
			}
		}

		&__content {
			top: 72px;
			bottom: 0;
			padding: 2rem 1rem 2rem 3.5rem;

			&:before {
				top: 0;
				left: 35px;
				right: 25px;
				content: '';
				display: block;
				position: absolute;
				border-top: 1px solid #E5E5E5;
			}

			&:after {
				right: 35px;
				bottom: 20px;
			}

			&_wrap {
				padding-right: 1.5rem;
			}

			&_inner {
				padding: 0;
			}
		}

		&__links {
			margin: 0 -1rem 2rem -1rem;

			> li {
				width: 33.33%;
				padding: 0 1rem;
			}

			.btn {
				width: 100%;
			}
		}
	}
}



.comments {
	padding-top: 2.5rem;
	border-top: 1px solid #E5E5E5;
}

.comment {
	position: relative;
	margin-bottom: 2rem;
	padding-left: 4.7rem;

	&__avatar {
		top: 0;
		left: 0;
		width: 35px;
		height: 35px;
		color: #2B516B;
		overflow: hidden;
		text-align: center;
		position: absolute;
		background: #D6F3FF;
		@include border-radius(50%);

		&_letter {
			width: 35px;
			height: 35px;
			color: #2B516B;
			padding: 0.5rem 0;
			overflow: hidden;
			font-size: 1.8rem;
			text-align: center;
			line-height: 2.5rem;
			background: #D6F3FF;
			@include border-radius(50%);
		}
	}

	&__author {
		color: #000;
		font-size: 1.4rem;
		line-height: 2rem;
	}

	&__status {
		font-size: 0;
		line-height: 0;
		color: #B6B7B6;
		margin: 0 -0.5rem 0.3rem -0.5rem;
		@include flexbox();
		@include flex-wrap(wrap);

		span {
			padding: 0 0.5rem;
			font-size: 1.2rem;
			line-height: 2rem;
			position: relative;
			display: inline-block;

			&:before {
				right: -1px;
				top: 50%;
				width: 2px;
				height: 2px;
				content: '';
				margin-top: -1px;
				background: #5A6270;
				position: absolute;
				display: inline-block;
				@include border-radius(50%);
			}

			&:last-child {

				&:before {
					display: none;
				}
			}
		}
	}

	&__rate {
		color: #B6B7B6;
		font-size: 1.3rem;
		line-height: 2rem;
		@include flexbox();

		&_value {

		}

		&_text {
			color: #B6B7B6;
			padding-left: 0.6rem;
		}
	}

	&__text {
		color: #5A6270;
		font-size: 1.3rem;
		line-height: 1.5rem;
	}
}

.scope {

	.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
		font-size: 1.3rem;
		color: $color-red;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		/*This is the important part*/
		font-family: "FontAwesome";

		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: 1;
		speak: none;
		text-transform: none;
	}

	.cancel-on-png:before {
		/*the "\f057" represents an unfilled circle with an x in it*/
		/*each of these can be configured to be whichever icon you would like*/
		/*fore more information on the icon code, look at the link listed below*/
		content: "\f057";
	}

	.cancel-off-png:before {
		content: "\f05c";
	}

	.star-on-png:before {
		content: "\f005";
	}

	.star-off-png:before {
		content: "\f006";
	}

	.star-half-png:before {
		content: "\f123";
	}

}

.gallery {
	top: 0;
	left: 0;
	bottom: 0;
	padding: 6rem 0;
	z-index: 1200;
	right: 725px;
	display: none;
	overflow: hidden;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);

	&_close {
		top: 30px;
		right: 30px;
		width: 35px;
		height: 35px;
		z-index: 100;
		display: block;
		cursor: pointer;
		position: absolute;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			width: 40px;
			height: 1px;
			content: '';
			z-index: 300;
			display: block;
			background: #fff;
			margin-left: -20px;
			position: absolute;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	&__content {
		width: 100%;
		font-size: 0;
		line-height: 0;
		margin: auto 0;
	}

	&__slider {
		margin: 0 7rem;
		text-align: center;

		.img-fluid {
			margin: 0 auto;
			display: inline-block;
			border: 2px solid #fff;
		}

		&_container {
			max-width: 1000px;
			margin: 0 auto;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		width: 22px;
		height: 62px;
		border: none;
		outline: none;
		background: transparent;

		.ico-svg {
			stroke: #fff;
		}

		&:hover {

			.ico-svg {

				stroke: $color-red;
			}
		}
	}

	.swiper-button-next {
		right: 20px;
	}

	.swiper-button-prev {
		left: 20px;
		@include rotate(180deg);
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

		&__slider {
			margin: 0 12rem;
		}
	}
}


.start {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	font-size: 1.4rem;
	line-height: 2.4rem;
	text-align: center;
	position: absolute;
	display: none;

	.start_wrap {
		max-width: 550px;
		margin: auto auto;
	}


	.start_heading {
		font-size: 1.4rem;
		line-height: 2.4rem;
		margin-bottom: 3rem;
		text-transform: uppercase;
	}

	.start_search_sm {
		padding-top: 4rem;
		text-transform: uppercase;
	}

	.start_place {
		z-index: 10;
		font-weight: 700;
		padding-top: 2rem;
		position: relative;

		a {
			color: #5097B8;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.start_form {
		width: 362px;
		margin: 0 auto;
	}

	@media (min-width: $screen-lg-min) {
		padding-right: 290px;

		.start_heading {
			margin-bottom: 5rem;
		}
	}
}

.result {
	width: 100%;
	position: relative;
	padding: 1.5rem 2.5rem;
	@include flexbox();

	&:before {
		bottom: 0;
		left: 25px;
		right: 25px;
		content: '';
		display: block;
		position: absolute;
		border-bottom: 1px solid #E5E5E5;
	}

	&.active,
	&:hover {
		background: rgba(214, 243, 255, 0.55);
	}

	.result_image {
		width: 42px;
		@include flex-shrink(0);
	}

	.result_content {
		font-size: 1rem;
		line-height: 1rem;
		padding-left: 1.2rem;
		@include flex-grow(1);
	}

	.result_meta {
		padding: 0;
		list-style: none;
		margin: 0 -0.7rem 0.5rem -0.7rem;
		@include flexbox();

		> li {
			color: #5A6270;
			padding: 0 0.7rem;
			position: relative;

			&:before {
				top: 0;
				right: 0;
				width: 1px;
				content: '';
				height: 10px;
				background: #5A6270;
				position: absolute;
			}

			&:last-child {

				&:before {
					display: none;
				}
			}
		}
	}

	.result_meta_elem {
		color: #5A6270;
		padding-left: 14px;
		position: relative;

		i {
			left: 0;
			top: 50%;
			width: 11px;
			height: 9px;
			margin-top: -5px;
			position: absolute;
			display: inline-block;
		}
	}

	.result_name {
		color: #000;
		font-weight: 700;
		margin-bottom: 0.5rem;
	}

	.result_address {
		color: #5A6270;
	}

	.result_close {
		color: #fff;
		padding: 0.1rem 0.3rem;
		background: #FE4C76;
	}
}


.btn_back {
	top: 50%;
	left: 25px;
	width: 14px;
	height: 29px;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	margin-top: -15px;
	position: absolute;
	display: inline-block;
	@include rotate(180deg);

	i {
		top: 0;
		left: 0;
		width: 11px;
		height: 29px;
		position: absolute;
		display: inline-block;

		&:first-child {
			display: none;
		}

		&:last-child {
			right: 0;
			left: auto;
		}
	}

	.ico-svg {
		stroke: #fff;
	}

	@media (min-width: $screen-lg-min) {
		left: auto;
		right: 17px;
		@include rotate(0deg);

		i {
			&:first-child {
				display: inline-block;
			}
		}

		.ico-svg {
			stroke: #E0E0E0;
		}

		&:hover {

			.ico-svg {
				stroke: $color-blue-hover;
			}
		}
	}
}

.btn_favorite {
	top: 15px;
	right: 20px;
	width: 30px;
	height: 32px;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	position: absolute;
	display: inline-block;

	.favorite_star {
		top: 0;
		left: 50%;
		width: 20px;
		height: 19px;
		margin-left: -10px;
		position: absolute;
		display: inline-block;
	}

	.favorite_arrow {
		bottom: 0;
		left: 50%;
		width: 23px;
		height: 7px;
		margin-left: -11px;
		position: absolute;
		display: inline-block;
	}

	@media (min-width: $screen-lg-min) {
		top: 25px;
		left: 20px;
		right: auto;
	}
}

.selectBox {
	font-size: 0;
	line-height: 0;
	position: relative;
	display: inline-block;

	&.open {
		@include border-radius(21px);

		.selectBox__label {
			@include border-radius(21px 21px 0 0);
		}

		.selectBox__nav {
			display: block;
		}
	}

	.selectBox__label {
		color: #000;
		width: 4.2rem;
		height: 3.6rem;
		padding: 1rem 0;
		cursor: pointer;
		font-weight: 700;
		font-size: 1.2rem;
		text-align: center;
		position: relative;
		line-height: 1.6rem;
		text-decoration: none;
		display: inline-block;
		background: $color-blue;
		@include border-radius(21px);

		i {
			left: 50%;
			width: 18px;
			height: 4px;
			bottom: 13px;
			margin-left: -9px;
			position: absolute;
			display: inline-block;
		}

		&:hover {
			color: #000;
			text-decoration: none;
		}
	}

	.selectBox__nav {
		top: 100%;
		left: 0;
		width: 100%;
		display: none;
		position: absolute;
		background: #D6F3FF;
		padding-bottom: 0.5rem;
		@include border-radius(0 0 21px 21px);

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

			}
		}

		label {
			width: 100%;
			font-size: 0;
			line-height: 0;
			font-weight: 400;
			text-align: center;
			display: inline-block;

			input {
				display: none;
			}

			span {
				width: 100%;
				color: #000;
				cursor: pointer;
				font-weight: 700;
				font-size: 1.2rem;
				line-height: 1.6rem;
				display: inline-block;
				padding: 1rem 0.3rem;

				&:hover {
					color: $color-red;
				}
			}

			input:checked + span {
				color: $color-red;
			}
		}
	}
}


.map {
	z-index: 10;
	width: 100%;
	height: 100%;
	position: relative;
	background: url("../images/map.jpg") 50% 50% no-repeat;
	background-size: cover;
}

.gm-style {

	div {

	}
}

.gm-style-pbc {

}

.gm-style-iw {
	overflow: inherit !important;
	width: 260px !important;

	> div {
		display: block !important;
		overflow: inherit !important;

		> div {
			overflow: inherit !important;
		}
	}
}

.mapInfo {
	width: 260px;
	left: 8px;
	top: 2px;
	min-width: 260px;
	position: relative;
	background-color: #fff !important;

	&__gallery {
		width: auto;
		padding: 0 3px;
		margin: 0 -2px 0.8rem -2px;
		@include flexbox();

		&_elem {
			width: 25%;
			color: #000;
			padding: 0 2px;

			a {
				width: 100%;
				display: block;
				color: #000;
				outline: navajowhite;
			}

			img {
				max-width: 100% !important;
			}
		}
	}

	&__meta {
		padding: 0;
		color: #5A6270;
		list-style: none;
		font-size: 1.1rem;
		line-height: 1.2rem;
		margin: 0 -0.6rem 0.8rem -0.2rem;
		@include flexbox();

		> li {
			padding: 0 0.6rem;
			position: relative;

			&:before {
				top: 0;
				right: 0;
				width: 1px;
				content: '';
				height: 12px;
				white-space: nowrap;
				background: #5A6270;
				position: absolute;
			}

			&:last-child {

				&:before {
					display: none;
				}
			}
		}

		strong {
			font-weight: 900;
			white-space: nowrap;
		}

		&_area {
			white-space: nowrap;
			position: relative;
			padding-right: 1.2rem;

			i {
				right: 0;
				top: 50%;
				width: 6px;
				height: 10px;
				margin-top: -5px;
				position: absolute;
				display: inline-block;
			}
		}

		&_rate {
			white-space: nowrap;
			position: relative;
			padding-left: 1.5rem;

			i {
				left: 0;
				top: 50%;
				width: 9px;
				height: 9px;
				margin-top: -5px;
				position: absolute;
				display: inline-block;
			}
		}

		&_comments {
			white-space: nowrap;
			position: relative;
			padding-left: 1.5rem;

			i {
				left: 0;
				top: 50%;
				width: 10px;
				height:10px;
				margin-top: -5px;
				position: absolute;
				display: inline-block;
			}
		}
	}

	h4 {
		color: #000;
		font-size: 1.2rem;
		line-height: 1.6rem;
		margin-bottom: 0.2rem;
		text-align: center;
	}

	&__phone {
		font-size: 1.2rem;
		line-height: 1.6rem;
		text-align: center;
		display: block;


	}
}
