.nav {

	&__header {
		display: none;
		color: #B6B7B6;
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 2rem;
		text-transform: uppercase;
		padding: 1rem 2rem 1rem 6.8rem;
	}

	&__group {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {

			> a {
				width: 100%;
				color: #5097B8;
				text-align: right;
				font-size: 1.4rem;
				position: relative;
				line-height: 1.8rem;
				display: inline-block;
				text-decoration: none;
				padding: 1rem 8rem 1rem 2rem;

				&:before {
					bottom: 0;
					left: 20px;
					right: 20px;
					height: 1px;
					content: '';
					position: absolute;
					background: #f5f5f5;
					display: inline-block;
				}

				&:hover {
					background: #D6F3FF;
				}
			}
		}

		i {
			top: 50%;
			right: 35px;
			position: absolute;
			display: inline-block;
		}
	}

	&__icon_coffee {
		width: 24px;
		height: 24px;
		margin-top: -12px;
	}

	&__icon_restaurant {
		width: 24px;
		height: 16px;
		margin-top: -8px;
	}

	&__icon_dance {
		width: 25px;
		height: 26px;
		margin-top: -13px;
	}

	&__icon_beer {
		width: 18px;
		height: 19px;
		margin-top: -10px;
	}

	&__icon_karaoke {
		width: 17px;
		height: 21px;
		margin-top: -11px;
	}

	&__icon_popcorn {
		width: 21px;
		height: 21px;
		margin-top: -11px;
	}

	&__icon_bowling {
		width: 22px;
		height: 21px;
		margin-top: -11px;
	}

	&__icon_pool {
		width: 19px;
		height: 21px;
		margin-top: -11px;
	}

	&__icon_event {
		width: 21px;
		height: 21px;
		margin-top: -11px;
	}

	&__icon_game {
		width: 20px;
		height: 21px;
		margin-top: -11px;
	}

	&__icon_swimming {
		width: 21px;
		height: 23px;
		margin-top: -12px;
	}

	&__icon_aqua {
		width: 22px;
		height: 24px;
		margin-top: -12px;
	}

	&__icon_pharmacy {
		width: 16px;
		height: 21px;
		margin-top: -11px;
	}

	&__icon_atm {
		width: 16px;
		height: 21px;
		margin-top: -11px;
	}

	@media (min-width: $screen-md-min) {

		&__header {
			display: block;
		}

		&__group {
			margin-bottom: 1rem;

			> li {

				> a {
					text-align: left;
					padding: 1rem 2rem 1rem 6.8rem;
				}

			}

			i {
				left: 30px;
			}
		}
	}
}


.scrollbar_inner {
	height: 100%;
}

.scroll-element {
	z-index: 10;

	div {
		display: block;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
	}

	&:hover {

		.scroll-bar {
			opacity: 1;
		}
	}
}

.scroll-y {
	top: 0;
	right: 5px;
	height: 100%;
	width: 1px;
	background: #f5f5f5;
	position: absolute;
}


.scroll-bar {
	opacity: 0.4;
	cursor: pointer;
	background: #D6F3FF;
	position: absolute;
	left: -4px !important;
	right: -4px !important;
	width: 9px !important;
	@include border-radius(5px);
	@include transition(.2s);
}

