.btn {
	color: #2B516B;
	outline: none;
	font-weight: 400;
	background: #fff;
	user-select: none;
	font-size: 1.4rem;
	text-align: center;
	white-space: nowrap;
	line-height: 1.8rem;
	padding: 0.5rem 2rem;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #80DAFF;
	@include border-radius(1.5rem);
	@include transition(.2s);

	&:hover {
		color: #2B516B;
		background: $color-blue;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	&:active {
		background: #b2ddee;
		@include box-shadow(inset 0px 7px 7px rgba(181, 214, 228, 0.85));
	}
}


.btn_white {
	color: #000;
	border: none;
	outline: none;
	font-weight: 400;
	background: #fff;
	user-select: none;
	font-size: 1.4rem;
	text-align: center;
	white-space: nowrap;
	line-height: 2rem;
	padding: 1rem 3rem;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	@include border-radius(2rem);
	@include transition(.2s);

	&:after,
	&:before {
		@include border-radius(2rem);
	}

	&:hover {
		color: #000;
		background: $color-blue;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	&:active {
		background: #b2ddee;
	}
}

.btn_pulse {

	&:after,
	&:before {
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
	}

	&:after {
		box-shadow: 0 0 0 15px rgba(214, 243, 255, 0.5);
	}

	&:before {
		box-shadow: 0 0 0 35px rgba(214, 243, 255, 0.3);
	}
}

.btn_md {
	padding: 2rem 4rem;
	@include border-radius(3rem);

	&:after,
	&:before {
		@include border-radius(3rem);
	}
}

.btn_radius {
	color: #000;
	width: 4.2rem;
	height: 3.6rem;
	padding: 1rem 0;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.2rem;
	text-align: center;
	position: relative;
	line-height: 1.6rem;
	text-decoration: none;
	display: inline-block;
	background: $color-blue;
	@include border-radius(50%);

	i {
		left: 50%;
		width: 18px;
		height: 4px;
		bottom: 13px;
		margin-left: -9px;
		position: absolute;
		display: inline-block;
	}

	&:hover {
		color: #000;
		text-decoration: none;
		background: $color-blue-hover;
	}
}