.form_control {
	margin: 0;
	width: 100%;
	outline: none;
	font-weight: 200;
	display: inline-block;
	color: #000;
	overflow: hidden;
	background: transparent;
	height: 4.2rem;
	padding: 1rem 1.5rem;
	font-size: 1.4rem;
	line-height: 2rem;
	text-decoration: none;
	position: relative;
	border: 1px solid #808080;
	@include placeholder(#808080);
	@include border-radius(3px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		border-color: #444;
		@include placeholder(transparent);
	}
}

.form_place {
	width: 100%;
	font-size: 0;
	line-height: 0;
	margin: 0 auto;
	background: #fff;
	position: relative;
	@include border-radius(2rem);

	.form_place_control {
		width: 100%;
		color: #000;
		z-index: 10;
		outline: none;
		text-align: left;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		position: relative;
		display: inline-block;
		background: transparent;
		border: 1px solid #C2C2C2;
		padding: 0.9rem 1rem 0.9rem 15rem;
		@include border-radius(2rem);
		@include placeholder(#000);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus {
			border-color: #a0a0a0;
			@include placeholder(transparent);
		}
	}

	.form_place_label {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		text-align: left;
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 2rem;
		position: absolute;
		padding: 1rem 1.5rem;
		@include border-radius(2rem);

		&:before {
			top: 1rem;
			width: 1px;
			left: 142px;
			content: '';
			bottom: 1rem;
			display: block;
			position: absolute;
			background: #D7D7D7;
		}
	}
}


.switch {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	background: #fff;
	@include border-radius(18px);
	@include flexbox();

	label {
		z-index: 1;
		margin: 0 -0.3rem;
		position: relative;
		display: inline-block;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&.checked {
			z-index: 5;
		}

		input {
			display: none;
		}

		span {
			color: #000;
			cursor: pointer;
			background: #fff;
			font-weight: 700;
			font-size: 1.2rem;
			line-height: 2rem;
			padding: 0.8rem 2rem;
			display: inline-block;
			@include border-radius(18px);
		}

		input:checked + span {
			z-index: 10;
			background: $color-blue;
		}
	}
}